In [1]:
import pandas as pd

# Load the dataset
file_path = '/Users/allig/ads/502/project/data_science_salaries.csv' 
data = pd.read_csv(file_path)

# Step 1: Standardize column names
data.columns = data.columns.str.lower().str.replace(' ', '_')

# Step 2: Check for duplicates and remove if any
data = data.drop_duplicates()

# Step 3: Encode categorical variables
categorical_cols = ['job_title', 'experience_level', 'employment_type', 
                    'work_models', 'employee_residence', 
                    'salary_currency', 'company_location', 'company_size']

# Using one-hot encoding
data_encoded = pd.get_dummies(data, columns=categorical_cols, drop_first=True)

# Step 4: Check for outliers in salary_in_usd using the IQR method
q1, q3 = data['salary_in_usd'].quantile([0.25, 0.75])
iqr = q3 - q1
lower_bound = q1 - 1.5 * iqr
upper_bound = q3 + 1.5 * iqr

# Remove rows with outliers in salary_in_usd
data_cleaned = data_encoded[(data['salary_in_usd'] >= lower_bound) & 
                            (data['salary_in_usd'] <= upper_bound)]

# Display summary of cleaned data
print(data_cleaned.info())
print(data_cleaned.head())

<class 'pandas.core.frame.DataFrame'>
Index: 6492 entries, 0 to 6598
Columns: 325 entries, work_year to company_size_Small
dtypes: bool(322), int64(3)
memory usage: 2.2 MB
None
   work_year  salary  salary_in_usd  job_title_AI Developer  \
0       2024  148100         148100                   False
1       2024   98700          98700                   False
2       2024  140032         140032                   False
3       2024  100022         100022                   False
4       2024  120000         120000                   False

   job_title_AI Engineer  job_title_AI Product Manager  \
0                  False                         False
1                  False                         False
2                  False                         False
3                  False                         False
4                  False                         False

   job_title_AI Programmer  job_title_AI Research Engineer  \
0                    False                           False
1                    False                           False
2                    False                           False
3                    False                           False
4                    False                           False

   job_title_AI Scientist  job_title_AWS Data Architect  ...  \
0                   False                         False  ...
1                   False                         False  ...
2                   False                         False  ...
3                   False                         False  ...
4                   False                         False  ...

   company_location_Switzerland  company_location_Thailand  \
0                         False                      False
1                         False                      False
2                         False                      False
3                         False                      False
4                         False                      False

   company_location_Turkey  company_location_Ukraine  \
0                    False                     False
1                    False                     False
2                    False                     False
3                    False                     False
4                    False                     False

   company_location_United Arab Emirates  company_location_United Kingdom  \
0                                  False                            False
1                                  False                            False
2                                  False                            False
3                                  False                            False
4                                  False                            False

   company_location_United States  company_location_Vietnam  \
0                            True                     False
1                            True                     False
2                            True                     False
3                            True                     False
4                            True                     False

   company_size_Medium  company_size_Small
0                 True               False
1                 True               False
2                 True               False
3                 True               False
4                 True               False

[5 rows x 325 columns]